{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "useJSXTextNode": true
    },
    "plugins": [
        "react",
        "react-hooks",
        "import",
        "react-compiler",
        "@typescript-eslint"
    ],
    "extends": [
        "prettier"
    ],
    "rules": {
        "react/jsx-pascal-case": "error",
        "react-compiler/react-compiler": "warn",
        "react-hooks/exhaustive-deps": "warn",
        "import/no-default-export": "error",
        "prefer-arrow-callback": "warn",
        "no-sequences": "error",
        "no-eval": "error",
        "no-return-await": "error",
        "no-shadow": "error",
        "no-throw-literal": "error",
        "no-extra-bind": "error",
        "no-var": "error",
        "prefer-const": "error",
        "eqeqeq": "error",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_"
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "*.js",
                "*.jsx"
            ],
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": "off",
                "@typescript-eslint/no-unused-vars": "off",
                "@typescript-eslint/no-var-requires": "off",
                "@typescript-eslint/explicit-function-return-type": "off",
                "@typescript-eslint/explicit-parameter-types": "off"
            }
        }
    ]
}
