.profileBox {
	border: 1px solid #dedee7;
	height: fit-content;
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
}

@media (min-width: 1280px) {
	.profileBox {
		padding: 1.75rem;
		margin-right: 0;
	}
}

.limitsBox {
	display: flex;
	flex-direction: row;
	padding: 24px 20px;
	border-radius: 6px;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 1rem;
	letter-spacing: 0.05em;
	color: #2a373f;
}
